.product-container{
 background-image: url('https://assets.website-files.com/5ba96977bf120e1b45986c06/5bb966fd82df351adbb449c6_raul-cacho-oses-779595-unsplash-p-3200.jpeg');
 background-size: cover;
  padding-top: 50px;
  height: 390px;
  padding-left: 50px;
  padding-top: 50px;
}
